.container {
  margin-top: 15px;
  font-family: 'Roboto', sans-serif;
}

.post {
  margin-top: 30px;
  margin-left: 10px;
  padding: 15px;
  border: 1px solid #D0D3D4;
}

.header {
  margin-top: 15px;
  margin-bottom: 0px;
}

p.author {
  /*padding-left: 20px;*/
  font-style: italic;
}

form {
  margin: 20px 0px;
}

button {
  margin: 5px;
}
